.search {
    background-color:#FFFFFF;
    border-color: ;
    border-radius: 3px;
    border-style: solid;
    font-size: 12px;
    height: 18px;
    float: left;
    margin: -63px 165px;
    padding: 8px 10px;
    width: 650px;
 }
 header {
    float: left;
    width: 100%;
    background-color: #F1F1F1;
    z-index: 1000;
 }
 h1 {
    text-indent: -9999px;
 }
  body {
    margin: 0 auto;
 }       
 .drop {
     float: right;
     border-color: transparent;
     margin: -62px -87px;
     height: 36px;
 }
 .bar {
     width: 700px;
     
 }
 .hdr {
     float: right;
}
 .menu {
    border-color: transparent;
    color: gray;
    float: right;
    font-size: 20px;
    margin: -58px 120px;
 }
 .bell {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    color: white;
    float: right;
    font-size: 10px;
    height: 20px;
    margin: -53px 87px;
    padding: 0;
    width: 20px;     
 }
.h {
    background-color: #512DA8;
    border: 1px solid #512DA8;
    border-radius: 50%;
    color: white;
    float: right;
    font-size: 18px;
    height: 32px;
    margin: -60px 34px;
    padding: 0;
    width: 32px;
}
 .button {
    background-color: rgba( 0, 0, 0, 0) -moa-linear-gradient(center top , #4387fd, #4683ea) repeat scroll 0 0;
    background-color: #4485F5;
    border: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-sizing: border-box;
    height: 36px;
    margin: -62px -148px;
    outline: medium none;
    padding: 0;
    width: 60px;
    float: right;
 }
 .button i {
     color: #FFFFFF;
     font-size: 20px;
 }
 .leftpanel {
     float: left;
     background-color: #FFFFFF;
     height: 100%;
     width: 160px;
     max-width: 400px;
 }
.cright {
    width: 100%;
    background-color: #E9E8E8;
    z-index: 1000;
    margin-bottom: 0px;
    margin: 0 auto; 
    padding-bottom: 0px;
}
.logo {
    background-color: transparent;
    background-position: 0 -762px;
    float: left;
    max-height: 60px;
    max-width: 144px;
    margin: -71px 18px;
    padding: 0;
    position: fixed;
}
.mail {
    background-color: #FFFFFF;
    height: 128px;
    width: 100%;
}
.mail1 {
    float: left;
}
.mail2 {
    float: right;
}
.b1 {
    height: 34px;
    margin: 11px 0px;
    padding: 5px;
    width: 85px;
    float: left;
    border-radius: 1px;
    border: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-sizing: border-box;
    outline: medium none;
    background-color: #F3F3F3;
    font-size: 17px;
}
.b2 {
    height: 34px;
    margin: 11px 12px;
    padding: 5px;
    width: 85px;
    float: left;
    border-radius: 1px;
    border: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-sizing: border-box;
    outline: medium none;
    background-color: #F3F3F3;
}
.b3 {
    height: 34px;
    margin: 11px -1px;
    padding: 5px;
    width: 85px;
    float: left;
    border-radius: 1px;
    border: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-sizing: border-box;
    outline: medium none;
    background-color: #F3F3F3;
}
.drop1 {
    color: #D14130;
    height: 34px;
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
    font-size: 19px;
    margin: 11px 40px;
    float: left;
    border-radius: 0px;
}
.le {
    height: 34px;
    padding: 5px;
    margin: 11px 18px;
    width: 50px;
    float: right;
    background-color: #F3F3F3;
    border-radius: 1px;
    border: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-sizing: border-box;
    outline: medium none;
    font-size: 17px;
}
.ri {
    height: 34px;
    padding: 5px;
    margin: 11px -20px;    
    width: 50px;
    float: right;
    background-color: #F3F3F3;
    border-radius: 1px;
    border: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-sizing: border-box;
    outline: medium none;
    font-size: 17px;
}
.ge {
    height: 34px;
    padding: 5px;
    margin: 11px 37px;
    width: 85px;
    float: right;
    background-color: #F3F3F3;
    border-radius: 1px;
    border: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-sizing: border-box;
    outline: medium none;
    font-size: 17px;
}
.com {
    background-color: #d14130;
    border-color: transparent;
    border-right: 1em none transparent;
    color: white;
    float: left;
    font-size: 15px;
    font-weight: bold;
    height: 33px;
    margin: 10px 38px;
    width: 126px;
    border-radius: 2px;
}
.sarch { float: left; width: 100%; }    
.sarch i {
    color: red;
    font-size: 50px;
}
.pm {
    border: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-sizing: border-box;
    float: left;
    height: 33px;
    margin: 10px 169px;
    outline: medium none;
    position: fixed;
    width: 183px; 
}
.pm i {
    float: left;
    font-size: 20px;
    margin-right: -11px;
    color: gray;
}
.so {
    border: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-sizing: border-box;
    float: left;
    height: 33px;
    margin: 10px 353px;
    outline: medium none;
    position: fixed;
    width: 183px; 
}
.so i {
    float: left;
    font-size: 20px;
    margin-right: -11px;
    color: grey;
}
.upd {
    border: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-sizing: border-box;
    float: left;
    height: 33px;
    margin: 10px 721px;
    outline: medium none;
    position: fixed;
    width: 183px; 
}
.upd i {
    float: left;
    font-size: 20px;
    margin-right: -11px;
    color: grey;
}
.tag {
    border: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-sizing: border-box;
    float: left;
    height: 33px;
    margin: 10px 537px;
    outline: medium none;
    position: fixed;
    width: 183px; 
}
.tag i {
    float: left;
    font-size: 20px;
    margin-right: -11px;
    color: grey;
}
.for {
    border: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-sizing: border-box;
    float: left;
    height: 33px;
    margin: 10px 906px;
    outline: medium none;
    position: fixed;
    width: 183px; 
}
.for i {
    float: left;
    font-size: 20px;
    margin-right: -11px;
    color: grey;
    }
.read {
    background-color: #F5F5F5;
    border: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-sizing: border-box;
    float: left;
    height: 33px;
    margin: 50px 96px;
    outline: medium none;
    position: fixed;
    width: 183px;
}
.read i {
    font-size: 20px;
}
.read1 {
    background-color: #F5F5F5;
    border: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-sizing: border-box;
    float: left;
    height: 33px;
    margin: 50px 131px;
    outline: medium none;
    position: fixed;
    width: 183px;
}
.read1 i {
    font-size: 20px;
}
.read2 {
    background-color: #F5F5F5;
    border: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-sizing: border-box;
    float: left;
    font-size: 20px;
    font-weight: bold;
    height: 33px;
    margin: 54px 260px;
    outline: medium none;
    position: fixed;
    width: 183px;
}
.read2 span {
    font-size: 22px;
}